<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    {% load keyvalue_lat %} <!-- activating filter functions for accessing dictionary values, used below -->
    {% load keyvalue_long %}
    {% load keyvalue_startpoint %}
    {% load keyvalue_endpoint %}
    {% load jpid_stops %}

    <script>
        var routes={{ routes|safe }};
        var jpids_and_stops={{ jpids_and_stops|safe }};
        var stop_coordinates={{ stop_coordinates|safe }};
    </script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type='text/css'/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}" type='text/css'/>
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" type='text/css'/>
    <title>Dublin Bus Travel Time Prediction</title>
    <style>
        .navbar {
          background-color: navy;
        }
        .navbar-inverse .navbar-nav > li > a {
          color : yellow;
        }
        .navbar-inverse .navbar-header > a {
          color : yellow;
        }
         footer {
          background-color: navy;
          color: yellow;
          padding: 20px;
        }
         .panel-default > .panel-heading {
            color: yellow;
            background-color: navy;
        }
        #form_container{
        }
    </style>
</head>
<body>
<!--navbar adapted from code at https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_webpage&stacked=h-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dublin Bus Travel Time Prediction</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Language</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--containers and rows adapted from code at https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_blog&stacked=h-->
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">


        <script>
            var selectedRoute;
            var selectedDirection;
            var selectedStart;
            var selectedEnd;
        </script>
        {% if estimated_time %}
            <div>
                <br><br>Expected journey time is <br><b>{{ estimated_time }} minutes</b>
                <br><br>
                <table>
                    <tr><td>Leap Fare</td><td id="leap_fare"></td></tr>
                    <tr><td>Cash Fare</td><td id="cash_fare"></td></tr>
                </table>
            </div>
            <script>
                var leap_fares=['1.50','2.05','2.60'];
                var cash_fares=['2.00','2.70','3.30'];
                if({{ trip_length }} < 4){
                    document.getElementById('leap_fare').innerHTML='€'+leap_fares[0];
                    document.getElementById('cash_fare').innerHTML='€'+cash_fares[0];
                }
                else if({{ trip_length }} < 14){
                    document.getElementById('leap_fare').innerHTML='€'+leap_fares[1];
                    document.getElementById('cash_fare').innerHTML='€'+cash_fares[1];
                }
                else{
                    document.getElementById('leap_fare').innerHTML='€'+leap_fares[2];
                    document.getElementById('cash_fare').innerHTML='€'+cash_fares[2];
                }
            </script>
        {% else %}
            <div id="form_container">
                <form action="route_selection"> {% csrf_token %}
                    <select name="route" onchange="chooseRoute()" id="selectedRoute">
                        <option selected disabled>Select your route</option>
                        {% for route in routes %}
                            <option value={{ route }}>{{ route }}</option>
                        {% endfor %}
                    </select>
                    <select name="direction" onchange="googleMap.chooseDirection()" id='direction_box' style="visibility:hidden" on>
                        <option selected disabled>Select your direction</option>
                    </select>
                    <select name="start" id="start_point" onchange="googleMap.chooseStart()" style="visibility:hidden">
                        <option selected disabled>Origin</option>
                    </select>
                    <select name="end" id="end_point" onchange="googleMap.chooseEnd()" style="visibility:hidden">
                        <option selected disabled>Destination</option>
                    </select>
                    <select name="weekday" id="weekday_box" onchange="chooseWeekDay()" required style="visibility:hidden">
                        <option selected disabled>Weekday</option>
                        <option value="0">Monday</option>
                        <option value="1">Tuesday</option>
                        <option value="2">Wednesday</option>
                        <option value="3">Thursday</option>
                        <option value="4">Friday</option>
                        <option value="5">Saturday</option>
                        <option value="6">Sunday</option>
                    </select>
                    <select name="hour" id="hour_box" onchange="chooseTime()" required style="visibility:hidden">
                        <option selected disabled>Approx. Time</option>
                        <option value="7">7am</option>
                        <option value="8">8am</option>
                        <option value="9">9am</option>
                        <option value="10">10am</option>
                        <option value="11">11am</option>
                        <option value="12">12pm</option>
                        <option value="13">1pm</option>
                        <option value="14">2pm</option>
                        <option value="15">3pm</option>
                        <option value="16">4pm</option>
                        <option value="17">5pm</option>
                        <option value="18">6pm</option>
                        <option value="19">7pm</option>
                        <option value="20">8pm</option>
                        <option value="21">9pm</option>
                        <option value="22">10pm</option>
                        <option value="23">11pm</option>
                    </select>
                    <input type="submit" name="input_form" id="submit" value="Predict Travel Time" style="visibility:hidden">
                </form>
            </div>
        {% endif %}
    </div>

    <div class="col-sm-9">

        <div id="map" style="width:100%; height:500px;"></div>
    </div>
  </div>

    <div class="row content">
      <div class="col-sm-4">
          <div class = "panel panel-default">
            <div class = "panel-heading text-center">
                <h3 class = "panel-title">What's on!</h3>
            </div>

            <div class = "panel-body">
                <img src="static/images/events_dublin.png" alt="dublin_events" class="center-block" width="304" height="236">
            </div>
          </div>
      </div>

      <div class="col-sm-4">
          <div class = "panel panel-default">
            <div class = "panel-heading text-center">
                <h3 class = "panel-title">Twitter feed</h3>
            </div>

            <div class = "panel-body">
                <img src="static/images/dublinbus_twitter_traffic.jpg" alt="dublinbus_twitter" class="center-block" width="304" height="236">
            </div>
          </div>
      </div>

      <div class="col-sm-4">
          <div class = "panel panel-default">
            <div class = "panel-heading text-center">
                <h3 class = "panel-title">Current Weather</h3>
            </div>

            <div class = "panel-body">
                <img src="static/images/sunny-showers.png" alt="sunny_showers" class="center-block" width="304" height="236">
            </div>
          </div>
      </div>
    </div>
</div>

<!--Footer adapted from code at https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_webpage&stacked=h-->
<footer class="footer text-center">
    <div class="container">

    <a href="#" class="btn btn-social-icon btn-twitter">
        <i class="fa fa-twitter"></i>
    </a>
        <a href="#" class="btn btn-social-icon btn-facebook">
        <i class="fa fa-facebook"></i>
    </a>
    <a class="btn btn-social-icon btn-google">
        <i class="fa fa-google-plus"></i>
    </a>
    </div>
</footer>
    <script>
    function chooseRoute(){
        document.getElementById("direction_box").style.visibility="visible";
        selectedRoute=document.getElementById("selectedRoute").value;
        var withLeadingZeroes=selectedRoute;
        for (i=0; i<4-selectedRoute.length; i++){
            withLeadingZeroes="0"+withLeadingZeroes;
        }
        selectedRoute=withLeadingZeroes;
        <!--if (first_direction){-->
            <!--alert("yea");-->
            <!--&lt;!&ndash;var element = document.getElementById("first_direction");&ndash;&gt;-->
            <!--&lt;!&ndash;element.parentNode.removeChild(element);&ndash;&gt;-->
            <!--&lt;!&ndash;alert("should have removed");&ndash;&gt;-->
            <!--&lt;!&ndash;var element = document.getElementById("second_direction");&ndash;&gt;-->
            <!--&lt;!&ndash;element.parentNode.removeChild(element);&ndash;&gt;-->
        <!--}-->
            var start=0;
            var end=0;
            for (var key in jpids_and_stops){
                    if ((start==0)&&(selectedRoute+"0001" == key )){
                        var first_direction = document.createElement("option");
                        first_direction.id='first_direction';
                        first_direction.value = 0;
                        first_direction.innerHTML = String(jpids_and_stops[key][0])+" to "+String(jpids_and_stops[key][jpids_and_stops[key].length-1]);
                        start+=1;
                    }
                    else if ((end==0)&&(selectedRoute+"1001" == key )){
                        var second_direction = document.createElement("option");
                        second_direction.id='second_direction';
                        second_direction.value = 1;
                        second_direction.innerHTML = String(jpids_and_stops[key][0])+" to "+String(jpids_and_stops[key][jpids_and_stops[key].length-1]);
                        end+=1;
                    }
            }
            var select = document.getElementById("direction_box");
            select.appendChild(first_direction);
            select.appendChild(second_direction);
    }
    function chooseWeekDay(){
                if(document.getElementById("hour_box").value!="Approx. Time"){
                    document.getElementById("submit").style.visibility="visible";
                    }
    }
   function chooseTime(){
            if(document.getElementById("weekday_box").value!="Weekday"){
                document.getElementById("submit").style.visibility="visible";
                }
   }
    function googleMap() {
       var canvas=document.getElementById("map");
       myCenter=new google.maps.LatLng(53.4, -6.3);
       var options={center: myCenter,zoom:10};
       var map=new google.maps.Map(canvas,options);
       function chooseDirection(){
            selectedRoute=document.getElementById("selectedRoute").value;
            var withLeadingZeroes=selectedRoute;
            for (i=0; i<4-selectedRoute.length; i++){
                withLeadingZeroes="0"+withLeadingZeroes;
            }
            selectedRouteDirection=withLeadingZeroes+document.getElementById("direction_box").value+"001";
            setMarkers(selectedRouteDirection,0,jpids_and_stops[selectedRouteDirection].length);
            document.getElementById("start_point").style.visibility="visible";
            for(i=0;i<jpids_and_stops[selectedRouteDirection].length-1;i++){
                var stop = document.createElement("option");
                stop.id=jpids_and_stops[selectedRouteDirection][i];
                stop.value = i;
                stop.innerHTML = jpids_and_stops[selectedRouteDirection][i];
                document.getElementById("start_point").appendChild(stop);
            }
        }
        googleMap.chooseDirection=chooseDirection;
       function setMarkers(selectedRouteDirection,start,end){
           var latSum=0; <!-- variables used to calculate the avg latlong of a route -->
           var longSum=0;
           var stopCount=0;
           var polylineCoords=new Array();
           var userRoute=jpids_and_stops[selectedRouteDirection].slice(start,end);
           for(i=0;i<userRoute.length;i++){
                var lat=parseFloat(stop_coordinates[userRoute[i]][0]);
                var long=parseFloat(stop_coordinates[userRoute[i]][1]);
                var myPosition= new google.maps.LatLng(lat,long);
                polylineCoords.push(myPosition);
                if(i==0){
                    var marker = new google.maps.Marker({position:myPosition,label:"Start"});
                    marker.setMap(map);
                }
                else if(i==userRoute.length-1){
                    var marker = new google.maps.Marker({position:myPosition,label:"End"});
                    marker.setMap(map);
                }
                latSum+=lat;
                longSum+=long;
                stopCount+=1;
           }
           map.setCenter(new google.maps.LatLng(latSum/stopCount, longSum/stopCount));
           map.setZoom(11);
           var polyline = new google.maps.Polyline({
                        path: polylineCoords,
                        strokeColor: '#357EC7',
                        strokeOpacity: 0.8,
                        strokeWeight: 4,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35,
                        map: map
                        });
            polyline.setMap(map);
       }
       googleMap.setMarkers=setMarkers;
       function chooseStart(){
            selectedStart=document.getElementById("start_point").value;
            for(i=selectedStart;i<jpids_and_stops[selectedRouteDirection].length-1;i++){
                var stop = document.createElement("option");
                stop.id=jpids_and_stops[selectedRouteDirection][i+1];
                stop.value = i+1;
                stop.innerHTML = jpids_and_stops[selectedRouteDirection][i+1];
                document.getElementById("end_point").appendChild(stop);
            }
            document.getElementById("end_point").style.visibility="visible";

            var lat=parseFloat(stop_coordinates[jpids_and_stops[selectedRouteDirection][selectedStart]][0]);
            var long=parseFloat(stop_coordinates[jpids_and_stops[selectedRouteDirection][selectedStart]][1]);
            var myPosition= new google.maps.LatLng(lat,long);
            var marker = new google.maps.Marker({position:myPosition,
                icon:'http://maps.google.com/mapfiles/ms/icons/green-dot.png'});
            marker.setMap(map);

       }
       googleMap.chooseStart=chooseStart;
       function chooseEnd(){
                document.getElementById("weekday_box").style.visibility="visible";
                document.getElementById("hour_box").style.visibility="visible";
                selectedEnd=document.getElementById("end_point").value;

                var lat=parseFloat(stop_coordinates[jpids_and_stops[selectedRouteDirection][selectedEnd]][0]);
                var long=parseFloat(stop_coordinates[jpids_and_stops[selectedRouteDirection][selectedEnd]][1]);
                var myPosition= new google.maps.LatLng(lat,long);
                var marker = new google.maps.Marker({position:myPosition,
                icon:'http://maps.google.com/mapfiles/ms/icons/green-dot.png'});
                marker.setMap(map);
            }
            googleMap.chooseEnd=chooseEnd;
    {% if estimated_time %}
        setMarkers("{{ current_route }}", {{ start_point }}, {{ end_point }});
    {% endif %}
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN7EfuGN0aiw97d-KPFwWCBDF6GJjRDDM&callback=googleMap"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>